<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegene.femicodes.ozeal">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".onAppKilled"
            android:stopWithTask="false" />

        <activity android:name=".CustomerLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".CustomerSettingsActivity"
            android:parentActivityName=".CustomerMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerMap" />
        </activity>

        <!-- <activity android:name=".driver.DriverLoginActivity" /> -->


        <!-- <activity android:name=".driver.DriverMapActivity" /> -->


        <!-- <activity -->
        <!-- android:name=".driver.DriverSettingsActivity" -->
        <!-- android:parentActivityName=".driver.DriverMapActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".driver.DriverMapActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".CustomerMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerMap" />
        </activity>
        <activity android:name=".HistorySingleActivity" />
        <activity
            android:name=".CustomerMap"
            android:label="@string/title_activity_customer_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PaymentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>